.icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
}
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 13px;
  margin-right: 36px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.link {
  color: getColor('third-text-color');
  background-color: rgba(74, 86, 226, 0.8);
  border-radius: 6px;
  padding: 0;
  text-align: center;

  width: 38px;
  height: 38px;
  display: block;

  @media screen and (min-width: 768px) {
    border-radius: 2px;
    width: 20px;
    height: 20px;
    display: flex;

    text-decoration: none;
  }
}

.active-link {
  background-color: #4a56e2;
  box-shadow: 0px 1px 7px rgba(74, 86, 226, 0.8);

  @media screen and (min-width: 768px) {
  }
  font-weight: 700;
}
