.register {
  /* width: 1280px; */
  height: 100vh;
  background-color: #e5e5e5;
  margin: 0 auto;
}

.container {
     width: 1280px;
     margin: 0 auto;
  height: 100vh;
  align-items: center;
  display: flex;
}

.sidebar {
  /* width: 100%; */

  width: 560px;
  padding: 153px 42px 78px 66px;
}



.img {
  /* // display: block; */
  width: 452px;
  height: 413px;
  margin-bottom: 32px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #000000;

}
