.wrapper {
  /* height: 100vh; */
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.title {
  display: inline-block;
  /* font-family: 'Circe'; */
  font-weight: 700;
  font-size: 26px;
  /* line-height: 1.5; */
  color: #000000;

  margin-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.title::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  vertical-align: top;
  background-position: center;

  background-image: url(../../image/logo.svg);
}

.input {
  border-top: none;
  border-left: none;
  border-right: none;
  height: 34px;
  padding-left: 55px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #bdbdbd;
}
.input:hover,
.input:focus {
  border-bottom: 1px solid #24cca7;
}

.button {
  display: block;

  height: 50px;
  margin: 0 auto;
  background: #ffffff;
  border: 1px solid #4a56e2;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 18px;
  line-height: 27px;
  color: #4a56e2;
  text-transform: uppercase;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #24cca7;
  border: 1px solid #24cca7;
}
.button:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    align-items: center;
  }

  .form {
    width: 280px;
  }

  .input {
    width: 280px;
  }

  .button {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    /* margin-top: 50px; */
    margin-left: 114px;
  }
    .form {
    width: 540px;
    height: 468px;

    border-radius: 20px;
  }

  .input:last-child {
    margin-bottom: 50px;
  }

  .button {
    width: 300px;
  }

  .input {
    width: 410px;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    /* margin-top: 50px; */
    margin-left: 95px;
    margin-top: 136px;
  }
}




.visuallyHidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
}
