.tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tr{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /* border-bottom: 1px solid grey */

}
.tr:not(:first-child){
    /* border-top: 1px solid grey; */
    border-top: 1px solid #DCDCDF;
box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6)
}
.th{
    /* width: 15%; */
}
.table .td{
    width: 100%;
}
.td{

    padding: 10px; 
    color: black;
}

.tr:nth-child(2n) {
    /* background-color: rgb(203, 234, 240); */
}

.transactionHistory {

    margin-top: 40px;

    table-layout: fixed;
width: 100%;

    
}
.titleBlock{
    display:flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 30px;
    background-color:  #FFFFFF;
    align-items: center;
    height: 58px;

}

.titleItems{
 
}
.titleItem {

    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: 700;

}

.item {
    height: 40px;
    /* color: rgb(95, 103, 107); */
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    display:flex;
text-align: center;
align-items: center;
justify-content: start;
}


.income{
color: #24CCA7
}
.outcome{
    color: #FF6596
}

.incomeItem{
color: #24CCA7;

height: 40px;
font-family: 'Courier New', Courier, monospace;
font-weight: 300;
display:flex;
text-align: center;
align-items: center;
justify-content: center;
}

.outcomeItem{
color: #FF6596;

height: 40px;
font-family: 'Courier New', Courier, monospace;
font-weight: 300;
display:flex;
text-align: center;
align-items: center;
justify-content: center;
}

@media(max-width:767px){
    .transactionHistory{
        min-width: 280px;
        width: 100%;
    max-width:767px;
    }
    .titleBlock{
        display:none
    }

    .table, .tr, .tbody, .item, .income, .outcome, .incomeItem, .outcomeItem{
        display: block;
        width: 100%
    }

    .tr{
        border-left: 5px solid;
        border-radius: 10px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 20px;
        margin: 15px auto;
        border-top: 0.5px solid grey;

       
       
    }

    .td{
        text-align: right;
        /* padding-left: 50%; */
        position: relative;
        /* border-bottom: 0.5px solid grey; */


    }

    .td:not(:last-child){
        border-bottom: 0.5px solid grey;

    }
    .td::before{
        content: attr(datelabel);
        position: absolute;
        left:0;
        font-weight: 700;
        color: black
    }
}