.container {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
.title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  color: #000000;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .container {
    width: 722px;
    padding-left: 17px;
  }
  .title {
    margin-bottom: 20px;
  }

  .wrapper_statistic {
    display: flex;
  }

  .wrapper_table {
    margin-left: 35px;
  }

  .table {
    width: 350px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin-left: 0;
    margin-right: 0;
    width: 700px;
  }
  .wrapper_table {
    margin-left: 30px;
  }
}
