.login {
  margin: 0 auto;
  /* height: 100vh; */

}

 .container {
 
  margin: 0 auto;
  height: 720px; 
  /* временно */
  
  }

.title {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  margin-top: 167px;
 margin-left: 414px;
 margin-bottom: 148px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #000000;

} 



@media (max-width: 767px) {
  .login {
  /* width: 320px; */
  backgroud-color: #ffffff
  }
  .title {
      position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
  }

  .container {
  width: 280px;
    
    
  }
}
  

  
@media (min-width: 768px) {
  .login {
  /* width: 320px; */
   background-color: #e5e5e5;
  }
}






@media (min-width: 768px) and (max-width: 1279px) {

  
  .container {
  width: 768px;
  height: 100vh;
  background-image: url(../../image/login_tablet.png), url(../../image/Ellipse_purpure_tablet.png), url(../../image/Ellipse_roze.png);
  background-position: top 60px left 114px, top 570px left, top right;
  background-attachment: scroll;
  background-repeat: no-repeat;

  }
}

@media (min-width: 1280px) {
  .container {
  width: 1280px;
    display: flex;
    align-items: center;
  }

 .sidebar {
  width: 560px;
  /* height: 100vh; */ 
  background-image: url(../../image/login_desktop.png), url(../../image/Ellipse_purpure.png);
  background-position: top 150px left 76px, top 274px left;
  background-attachment: scroll;
  background-repeat: no-repeat;
}  
  .formSidebar {
      
    width: 720px;
  /* height: 100vh; */
  height: 720px;
  background: rgba(255, 255, 255, 0.4);
  background-image: url(../../image/Ellipse_roze.png);
  background-repeat: no-repeat;
  background-position: top right;
  /* filter: blur(10px) */
}

  .title {
     margin-left: 200px;
 margin-top: 600px;
 margin-bottom: 0px;
  }
}






