.form{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}

.titleModal{
    text-align: center;
}


.addBtn{
    background-color:#24CCA7;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}
.addBtn:hover, .addBtn:focus{
    box-shadow: 0px 1px 15px 0px rgba(36,204,167, 0.7)

}
.amount, .date{
    display:flex;
    flex-direction: column;
    position: relative;
}

.errorFieldInfo, .errorFieldDate{
    display:flex;
    position: sticky;
    top:20px;
    max-width: 190px;
   flex-wrap: wrap;
    color:red;
    font-size: 10px;
}
/* .errorFieldDate{
padding-left: 50px;
} */
.cancelBtn{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #4A56E2;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: #4A56E2;
    text-align: center;
    cursor: pointer;

}
.cancelBtn:hover, .cancelBtn:focus {
    box-shadow:  0px 1px 15px 0px rgba(74,86,226,0.88);
    border: none;
}

.btnsModal{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
input{
    border:none;
    border-bottom: 1px solid grey;
}
.selectCategory{
    position: relative;
outline:none;
margin-top: 40px;
border:none;
border-bottom: 1px solid grey;
background: transparent;
}


/* .amountDate{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    align-items: baseline;
} */
.inputDate{
    margin-left: 30px;
    padding: 10px;
    padding-bottom: 7px;
}
/* .inputAmount{
    text-align: center;
    padding: 10px;

} */
/* .inputDate, .inputAmount{
width: 190px;
outline: none;

} */

::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('./Vector.png') no-repeat center;
    background-size: contain;
  }
  .closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    background: url('./../../../image/closeBtn.svg') no-repeat center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    
  }
  .closeBtn:hover, .closeBtn:focus{
    transform: scale(1.2);
    /* padding: 15px; */
  
    /* background-color: rgba(36,204,167, 0.7); */
  }
.commentField{
outline:none;
}

@media screen and (max-width:767px){
    .titleModal{
        font-weight:400;
        font-size:24px;
       height:1.5;
       text-align: center;

        } 
.closeBtn{
    display:none;
}
.inputDate, .inputAmount, .commentField{
    /* width: 280px; */
    width: 100%;

    margin:0;
    /* padding:0; */
    text-align: start;
    padding: 10px;
    outline: none;

}
.amountDate{
    display: flex;
    flex-direction: column;
}
.btnsModal{
    width: 300px;
}
.addBtn, .cancelBtn{
    width: 300px;
}
.amount{
    margin-bottom: 40px;
}
.inputAmount{
padding-left: 10px;
text-align: start;
}
.date{
    margin-bottom:40px;
}

.commentField{
    height: 74px;
}
/* .errorFieldDate{
    padding-left: 50px;
    } */
}



@media screen and (min-width: 768px) {
    .inputDate, .inputAmount{
        width: 190px;
        outline: none;
        
        }

        .amountDate{
            display: flex;
            justify-content: space-between;
            margin: 40px 0;
        
            align-items: baseline;
        }

        .inputAmount{
            text-align: center;
            padding: 10px;
        
        }
        .errorFieldDate{
            padding-left: 50px;
            }

       
}
