.form{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}

.addBtn{
    background-color:#24CCA7;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.cancelBtn{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #4A56E2;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: #4A56E2;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;

}

/* .commentField{
    margin-bottom: 50px;
} */