.form{
    display:flex;
    flex-direction: column;
    border-radius: 20px;
}

.addBtn{
    background-color:#24CCA7;
    border-radius: 20px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.cancelBtn{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid #4A56E2;
    width: 300px;
    height: 50px;
    font-size: 18px;
    font-weight:400;
    color: #4A56E2;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;

}
.chooseTypeToggle{
    display: flex;
    margin:0 auto;
    width: 220px;
    justify-content: space-between;
    margin-top: 40px;
}
.btnsModal{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
input{
    border:none;
    border-bottom: 1px solid grey;
}
.selectCategory{
margin-top: 40px;
border:none;
border-bottom: 1px solid grey;
}

.amountDate{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.inputDate{
    margin-left: 50px;
}
.inputDate, .inputAmount{
width: 190px;


}
::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('./Vector.png') no-repeat center;
    background-size: contain;
  }

/* .commentField{
    margin-bottom: 50px;
} */