.header {
  display: flex;
  align-items: center;
}
.user_name_text {
  margin-right: 10px;
  color: #bdbdbd;
  font-family: 'Circe';
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;
}
.btnLogout {
  color: #bdbdbd;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Circe';
}

.icon_btn_logout:hover,
.icon_btn_logout:focus {
  transform: scale(1.2);
}
@media screen and (min-width: 768px) {
  .btnLogout {
    border-left: 1px solid #bdbdbd;
    padding-left: 15px;
  }
  .title_exit {
    padding-left: 10px;
    font-size: 18px;
  }
  .user_name_text {
    margin-right: 15px;
  }
}
@media screen and (max-width: 767px) {
  .title_exit {
    display: none;
  }
}
