.header_container {
  display: flex;
  align-items: center;
}
.user_name_text {
  color: #bdbdbd;
  font-family: 'Circe';
  font-size: 18px;
  font-weight: normal;
  line-height: 26px;

  @media screen and (min-width: 768px) {
    padding-right: 15px;
  }
}

.icon_btn_logout:hover,
.icon_btn_logout:focus {
  transform: scale(1.2);
}

.title_exit {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    padding-left: 10px;
    font-size: 18px;
  }
}
